VITE_CONTACT_FORM_ENDPOINT=/api/contact

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=asumishra1698@gmail.com
SMTP_PASS=kiyo vmii nfus evst
CONTACT_TO_EMAIL=ashumishra1698@gmail.com
CONTACT_FROM_EMAIL=asumishra1698@gmail.com